<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Scope</key>
	<false/>
	<key>File References</key>
	<array>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAOLaEqRTjT45VL+PYmWoQDF4eT4BKhUb
			aOhKJ3oy3NZxYAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAsAAAABAQAARG91YmxlRHV0Y2gAEAAA
			AAEBAABEb3VibGVEdXRjaDEuSlBHIAAAAAEGAAAEAAAAFAAAACgA
			AAA8AAAATAAAAFwAAAB8AAAAkAAAAAgAAAAEAwAARWQCAAAAAAAI
			AAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAA
			nkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAAAAQDAAA1GUIAAAAA
			AAgAAAAEAwAA9KhDAAAAAAAIAAAABAMAAHTSQwAAAAAAIAAAAAEG
			AADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAAgAAAAA
			BAAAQbnGYJEAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
			AAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEA
			AEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgAAAAABAAAQbi1tLgA
			AAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJCMS04NEJBLTU2ODYx
			MEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAA
			AQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v//
			/wEAAAAAAAAADwAAAAQQAACoAAAAAAAAAAUQAABQAQAAAAAAABAQ
			AACIAQAAAAAAAEAQAAB4AQAAAAAAAAIgAABAAgAAAAAAABAgAADE
			AQAAAAAAABEgAAD0AQAAAAAAABIgAADUAQAAAAAAABMgAADkAQAA
			AAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACoAQAAAAAA
			ABHAAAAUAAAAAAAAABLAAAC4AQAAAAAAABDQAABUAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/DoubleDutch/DoubleDutch1.JPG</string>
			<key>identifier</key>
			<string>549DA1A8-7D41-49E9-ABC7-0DCC0BDC5513</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAFUHBsD0TayR3R7CdYZy+KwyEuncq07v
			j/NjOKCctazpWAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAUAAAABAQAAQnVkaW4AAAAJAAAAAQEA
			AEJ1ZGluLmpwZwAAACAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			ACLSkgAAAAAACAAAAAQDAADO0pIAAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6ceXx
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/Budin/Budin.jpg</string>
			<key>identifier</key>
			<string>F9000A2B-77D2-4F5F-8242-D2DABBBA11D2</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va3ADAAAAAAQQMAAAAFx8Fenmx1keBeprGfMSTBJbtubLd5WD
			/UF7xgemGEdXeAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABcAAAABAQAAQnJvb2tseW5Sb2FzdGlu
			Z0NvbXBhbnkAGwAAAAEBAABCcm9va2x5blJvYXN0aW5nQ29tcGFu
			eS5qcGcAIAAAAAEGAAAEAAAAFAAAACgAAAA8AAAATAAAAFwAAAB8
			AAAAnAAAAAgAAAAEAwAARWQCAAAAAAAIAAAABAMAAL4lBgAAAAAA
			CAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAAnkEKAAAAAAAIAAAABAMA
			AIgESQAAAAAACAAAAAQDAAA1GUIAAAAAAAgAAAAEAwAAxqeeAAAA
			AAAIAAAABAMAAFGongAAAAAAIAAAAAEGAADoAAAA+AAAAAgBAAAY
			AQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQbqAel0AAAAYAAAA
			AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAA
			AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQD
			AAAAgFJqdAAAAAgAAAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENF
			NzcwLTVCMEQtMzJCMS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAA
			gQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
			AAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQ
			AADAAAAAAAAAAAUQAABoAQAAAAAAABAQAACgAQAAAAAAAEAQAACQ
			AQAAAAAAAAIgAABYAgAAAAAAABAgAADcAQAAAAAAABEgAAAMAgAA
			AAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAAAAAA
			ADAgAABkAgAAAAAAAAHAAADAAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADQAQAAAAAAABDQAABsAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/BrooklynRoastingCompany/BrooklynRoastingCompany.jpg</string>
			<key>identifier</key>
			<string>7B1C7FD6-EC42-48AF-A73A-1944E77FA6C0</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAEmq89Uto6iznaSLA/EqB0c/ZCai/uwZ
			xpq0RC+jO8MUWAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAgAAAABAQAAS3Vyb0t1bWEMAAAAAQEA
			AEt1cm9LdW1hLmpwZyAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			AETFiAAAAAAACAAAAAQDAACRx4gAAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6Wpft
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/KuroKuma/KuroKuma.jpg</string>
			<key>identifier</key>
			<string>29F7DE1F-D3FC-4E6F-ADF7-69DA0DB0262E</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAEmM59IyB05vuvCCG1v+HtLIC5cdpZtQ
			DjdiU7izxrxeaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA0AAAABAQAARGFybGluZ0NvZmZlZQAA
			ABEAAAABAQAARGFybGluZ0NvZmZlZS5qcGcAAAAgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAAAp8JUAAAAAAAgAAAAEAwAAMfaVAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBunV4mQAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/DarlingCoffee/DarlingCoffee.jpg</string>
			<key>identifier</key>
			<string>30E330FF-C90E-4C71-87B1-AAD083F8AF8D</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAIB+1yFHNNLEK5SMYtEEscr4PWfjjqb+
			Zeob9aKPKP7sYAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAwAAAABAQAATGVub3ggQ29mZmVlEAAA
			AAEBAABMZW5veCBDb2ZmZWUuanBnIAAAAAEGAAAEAAAAFAAAACgA
			AAA8AAAATAAAAFwAAAB8AAAAkAAAAAgAAAAEAwAARWQCAAAAAAAI
			AAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAA
			nkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAAAAQDAAA1GUIAAAAA
			AAgAAAAEAwAAVAKHAAAAAAAIAAAABAMAANgChwAAAAAAIAAAAAEG
			AADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAAgAAAAA
			BAAAQbpZtR0AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
			AAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEA
			AEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgAAAAABAAAQbi1tLgA
			AAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJCMS04NEJBLTU2ODYx
			MEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAA
			AQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v//
			/wEAAAAAAAAADwAAAAQQAACoAAAAAAAAAAUQAABQAQAAAAAAABAQ
			AACIAQAAAAAAAEAQAAB4AQAAAAAAAAIgAABAAgAAAAAAABAgAADE
			AQAAAAAAABEgAAD0AQAAAAAAABIgAADUAQAAAAAAABMgAADkAQAA
			AAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACoAQAAAAAA
			ABHAAAAUAAAAAAAAABLAAAC4AQAAAAAAABDQAABUAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/Lenox Coffee/Lenox Coffee.jpg</string>
			<key>identifier</key>
			<string>D07CCB31-4EC5-4ED6-9F48-8A644884C8FE</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAPYldjDCUj0+19mkwn8alsVNG0uy85P0
			CYkWIyT694SlaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA0AAAABAQAATGl0dGxlQ29sbGlucwAA
			ABEAAAABAQAATGl0dGxlQ29sbGlucy5qcGcAAAAgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAAAX5JkAAAAAAAgAAAAEAwAAbeSZAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBunnX7AAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/LittleCollins/LittleCollins.jpg</string>
			<key>identifier</key>
			<string>C8D8CBE3-2644-4DBD-A68E-7D4455C375DB</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va/gCAAAAAAQQMAAAAOywneZvXK+dLASLtKvnjlzkj3g2sCAm
			E/Tu6Zwfb3nSAAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAwAAAABAQAAR29vZ2xlIERyaXZlBwAAAAEBAABI
			b3RNdWdnAAkAAAABAQAATWFya2V0aW5nAAAADQAAAAEBAABXYWxs
			cGFwZXIucG5nAAAAGAAAAAEGAAAEAAAAFAAAACgAAAA8AAAATAAA
			AGAAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+JQYAAAAAAAgA
			AAAEAwAAh+AIAAAAAAAIAAAABAMAAMquNAAAAAAACAAAAAQDAAAR
			Qz8AAAAAAAgAAAAEAwAASPt/AAAAAAAYAAAAAQYAAJgAAACoAAAA
			uAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQbpSaD8AAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAA
			AAAEAAAAAwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQDAAAA
			gFJqdAAAAAgAAAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENFNzcw
			LTVCMEQtMzJCMS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAAB4
			AAAAAAAAAAUQAAD4AAAAAAAAABAQAAAoAQAAAAAAAEAQAAAYAQAA
			AAAAAAIgAADgAQAAAAAAABAgAABkAQAAAAAAABEgAACUAQAAAAAA
			ABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAg
			AADsAQAAAAAAAAHAAABIAQAAAAAAABHAAAAUAAAAAAAAABLAAABY
			AQAAAAAAABDQAAD0AQAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Google Drive/HotMugg/Marketing/Wallpaper.png</string>
			<key>identifier</key>
			<string>F5BBC9C8-5611-4ABA-929C-F76AAF076264</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAA1xOW6Tx76iH573K8uee7ZxrTK1ifEj
			XDwm+iID0ffMaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA0AAAABAQAAR3JvdW5kU3VwcG9ydAAA
			ABEAAAABAQAAR3JvdW5kU3VwcG9ydC5qcGcAAAAgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAACVOJ8AAAAAAAgAAAAEAwAA90ufAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBuoD2EwAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/GroundSupport/GroundSupport.jpg</string>
			<key>identifier</key>
			<string>5465AB43-A84B-4672-991D-DE1D868CAC4F</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va0gDAAAAAAQQMAAAAN0k8Pr03Ju3IX8MAGiaIvPiqQgK84/3
			pUi/6RGZTbjnUAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAdAAAAAQEAAE1hZG1hbkVz
			cHJlc3NvR2FybWVudERpc3RyaWN0AAAAIQAAAAEBAABNYWRtYW5F
			c3ByZXNzb0dhcm1lbnREaXN0cmljdC5qcGcAAAAcAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAIQAAAAIAAAABAMAAEVkAgAA
			AAAACAAAAAQDAAC+JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAA
			BAMAAJ5BCgAAAAAACAAAAAQDAACIBEkAAAAAAAgAAAAEAwAA6NKJ
			AAAAAAAIAAAABAMAACdVigAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBulyUoAAAABgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAA
			AAAAAAQAAAADAwAA9QEAAAgAAAABAQAAQmxhY2tNYWMIAAAABAMA
			AACAUmp0AAAACAAAAAAEAABBuLW0uAAAACQAAAABAQAAOEY4Q0U3
			NzAtNUIwRC0zMkIxLTg0QkEtNTY4NjEwQzBCNDM2GAAAAAECAACB
			AAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
			AQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAA
			ALAAAAAAAAAABRAAAEQBAAAAAAAAEBAAAHgBAAAAAAAAQBAAAGgB
			AAAAAAAAAiAAADACAAAAAAAAECAAALQBAAAAAAAAESAAAOQBAAAA
			AAAAEiAAAMQBAAAAAAAAEyAAANQBAAAAAAAAICAAABACAAAAAAAA
			MCAAADwCAAAAAAAAAcAAAJgBAAAAAAAAEcAAABQAAAAAAAAAEsAA
			AKgBAAAAAAAAENAAAEQCAAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/MadmanEspressoGarmentDistrict/MadmanEspressoGarmentDistrict.jpg</string>
			<key>identifier</key>
			<string>DA3DAAA8-1A30-4CA3-A159-CCEDA3397E6D</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1wDAAAAAAQQMAAAADF7/u6/mkSuG9h+ugzpUIzKgkkxA/Gk
			fyLk4MuYOEMEZAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAsAAAABAQAARG91YmxlRHV0Y2gAEwAA
			AAEBAABEb3VibGVEdXRjaE1hcC5odG1sACAAAAABBgAABAAAABQA
			AAAoAAAAPAAAAEwAAABcAAAAfAAAAJAAAAAIAAAABAMAAEVkAgAA
			AAAACAAAAAQDAAC+JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAA
			BAMAAJ5BCgAAAAAACAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlC
			AAAAAAAIAAAABAMAAPSoQwAAAAAACAAAAAQDAAAIRFIAAAAAACAA
			AAABBgAA1AAAAOQAAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAAAI
			AAAAAAQAAEG56iPXAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
			AAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAA
			AAEBAABCbGFja01hYwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4
			tbS4AAAAJAAAAAEBAAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01
			Njg2MTBDMEI0MzYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAA
			AP7///8BAAAAAAAAAA8AAAAEEAAArAAAAAAAAAAFEAAAVAEAAAAA
			AAAQEAAAjAEAAAAAAABAEAAAfAEAAAAAAAACIAAARAIAAAAAAAAQ
			IAAAyAEAAAAAAAARIAAA+AEAAAAAAAASIAAA2AEAAAAAAAATIAAA
			6AEAAAAAAAAgIAAAJAIAAAAAAAAwIAAAUAIAAAAAAAABwAAArAEA
			AAAAAAARwAAAFAAAAAAAAAASwAAAvAEAAAAAAAAQ0AAAWAIAAAAA
			AAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/DoubleDutch/DoubleDutchMap.html</string>
			<key>identifier</key>
			<string>82039AE5-D467-4723-BDB3-C5F82B3FD9FE</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAI5vzchoUxj9p6OTJqlGI5t9JXmGaT3d
			jJC2DCIaUSB1WAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAgAAAABAQAAUGVya0thZmUMAAAAAQEA
			AFBlcmtLYWZlLmpwZyAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			AG6GkQAAAAAACAAAAAQDAABVh5EAAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6cMXf
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/PerkKafe/PerkKafe.jpg</string>
			<key>identifier</key>
			<string>F93748F9-DCBE-40B0-B05A-95E1E3342190</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2gDAAAAAAQQMAAAANCKda8Q0+++elxMqHUoOP85XK2jfPjW
			MYSo8vVhbYwccAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABIAAAABAQAAVGhpcmRSYWlsR3JlZW53
			aWNoAAAWAAAAAQEAAFRoaXJkUmFpbEdyZWVud2ljaC5qcGcAACAA
			AAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAAfAAAAJgAAAAI
			AAAABAMAAEVkAgAAAAAACAAAAAQDAAC+JQYAAAAAAAgAAAAEAwAA
			vyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAACAAAAAQDAACIBEkAAAAA
			AAgAAAAEAwAANRlCAAAAAAAIAAAABAMAAPVwmwAAAAAACAAAAAQD
			AACTNZ0AAAAAACAAAAABBgAA4AAAAPAAAAAAAQAAEAEAACABAAAw
			AQAAQAEAAFABAAAIAAAAAAQAAEG6fsIBAAAAGAAAAAECAAABAAAA
			AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAA
			AAMDAAD1AQAACAAAAAEBAABCbGFja01hYwgAAAAEAwAAAIBSanQA
			AAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEBAAA4RjhDRTc3MC01QjBE
			LTMyQjEtODRCQS01Njg2MTBDMEI0MzYYAAAAAQIAAIEAAAABAAgA
			7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAA
			AAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAuAAAAAAA
			AAAFEAAAYAEAAAAAAAAQEAAAmAEAAAAAAABAEAAAiAEAAAAAAAAC
			IAAAUAIAAAAAAAAQIAAA1AEAAAAAAAARIAAABAIAAAAAAAASIAAA
			5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAAXAIA
			AAAAAAABwAAAuAEAAAAAAAARwAAAFAAAAAAAAAASwAAAyAEAAAAA
			AAAQ0AAAZAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/ThirdRailGreenwich/ThirdRailGreenwich.jpg</string>
			<key>identifier</key>
			<string>42637479-C59D-4721-805C-32CE50175CF5</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAE4k5NCpvxiKVR9jACDOmH+XPg7xy3SF
			v7wB1xq0k4igWAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAgAAAABAQAAVGhlUm9vc3QMAAAAAQEA
			AFRoZVJvb3N0LmpwZyAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			ALwPoAAAAAAACAAAAAQDAACpEKAAAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6gb5/
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/TheRoost/TheRoost.jpg</string>
			<key>identifier</key>
			<string>62155E95-4BCA-41CB-8BF6-AD6DE39C4314</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9vaywDAAAAAAQQMAAAAImBMb4RiE7VITjxA1e5qNpaLr/RrK3I
			uNgRYWY6eaWbNAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA8AAAABAQAAbG9jYXRpb25NYXAucGhw
			ABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAAfAAAAAgA
			AAAEAwAARWQCAAAAAAAIAAAABAMAAL4lBgAAAAAACAAAAAQDAAC/
			JQYAAAAAAAgAAAAEAwAAnkEKAAAAAAAIAAAABAMAAIgESQAAAAAA
			CAAAAAQDAAA1GUIAAAAAAAgAAAAEAwAAKW2EAAAAAAAcAAAAAQYA
			ALgAAADIAAAA2AAAAOgAAAD4AAAACAEAABgBAAAIAAAAAAQAAEG6
			VhRQAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFj
			a01hYwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAA
			AAEBAAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0
			MzYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAAB
			AQAALwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAA
			AAAAAA8AAAAEEAAAlAAAAAAAAAAFEAAAKAEAAAAAAAAQEAAAXAEA
			AAAAAABAEAAATAEAAAAAAAACIAAAFAIAAAAAAAAQIAAAmAEAAAAA
			AAARIAAAyAEAAAAAAAASIAAAqAEAAAAAAAATIAAAuAEAAAAAAAAg
			IAAA9AEAAAAAAAAwIAAAIAIAAAAAAAABwAAAfAEAAAAAAAARwAAA
			FAAAAAAAAAASwAAAjAEAAAAAAAAQ0AAAKAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/locationMap.php</string>
			<key>identifier</key>
			<string>0D79FC5C-7FAC-4EE1-906F-C47A32305419</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAMPZKVFz36RI7hn/858cK7c7+XLouBEV
			6SC478T4Z6RRYAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAkAAAABAQAAMTJDb3JuZXJzAAAADQAA
			AAEBAAAxMkNvcm5lcnMuanBnAAAAIAAAAAEGAAAEAAAAFAAAACgA
			AAA8AAAATAAAAFwAAAB8AAAAkAAAAAgAAAAEAwAARWQCAAAAAAAI
			AAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAA
			nkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAAAAQDAAA1GUIAAAAA
			AAgAAAAEAwAAaQGEAAAAAAAIAAAABAMAANjPhgAAAAAAIAAAAAEG
			AADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAAgAAAAA
			BAAAQbpV5ggAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
			AAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEA
			AEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgAAAAABAAAQbi1tLgA
			AAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJCMS04NEJBLTU2ODYx
			MEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAA
			AQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v//
			/wEAAAAAAAAADwAAAAQQAACoAAAAAAAAAAUQAABQAQAAAAAAABAQ
			AACIAQAAAAAAAEAQAAB4AQAAAAAAAAIgAABAAgAAAAAAABAgAADE
			AQAAAAAAABEgAAD0AQAAAAAAABIgAADUAQAAAAAAABMgAADkAQAA
			AAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACoAQAAAAAA
			ABHAAAAUAAAAAAAAABLAAAC4AQAAAAAAABDQAABUAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/12Corners/12Corners.jpg</string>
			<key>identifier</key>
			<string>A5A442E1-6338-4D60-9EF8-FE1691782C8C</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAJyUPjkHO2IgTcyO6Id9vEHK8kWygmME
			VdAJthflA5PkaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA0AAAABAQAAVGhlQ2hpcHBlZEN1cAAA
			ABEAAAABAQAAVGhlQ2hpcHBlZEN1cC5qcGcAAAAgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAADrKYkAAAAAAAgAAAAEAwAADCqJAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBultLaAAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/TheChippedCup/TheChippedCup.jpg</string>
			<key>identifier</key>
			<string>CE8418DA-85C1-4E34-BA5E-0BBBB49C32AE</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2QDAAAAAAQQMAAAAOEEkCZtN0gusUKmgYSgO5ES5FCfD0iM
			xy0i8dDQQNYobAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABAAAAABAQAARXZlcnltYW5Fc3ByZXNz
			bxgAAAABAQAARXZlcnltYW5Fc3ByZXNzb1NvaG8uanBnIAAAAAEG
			AAAEAAAAFAAAACgAAAA8AAAATAAAAFwAAAB8AAAAlAAAAAgAAAAE
			AwAARWQCAAAAAAAIAAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYA
			AAAAAAgAAAAEAwAAnkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAA
			AAQDAAA1GUIAAAAAAAgAAAAEAwAAsj+GAAAAAAAIAAAABAMAAPKu
			hwAAAAAAIAAAAAEGAADcAAAA7AAAAPwAAAAMAQAAHAEAACwBAAA8
			AQAATAEAAAgAAAAABAAAQbpaBnwAAAAYAAAAAQIAAAEAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMA
			APUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgA
			AAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJC
			MS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAA
			AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMA
			AAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAAC0AAAAAAAAAAUQ
			AABcAQAAAAAAABAQAACUAQAAAAAAAEAQAACEAQAAAAAAAAIgAABM
			AgAAAAAAABAgAADQAQAAAAAAABEgAAAAAgAAAAAAABIgAADgAQAA
			AAAAABMgAADwAQAAAAAAACAgAAAsAgAAAAAAADAgAABYAgAAAAAA
			AAHAAAC0AQAAAAAAABHAAAAUAAAAAAAAABLAAADEAQAAAAAAABDQ
			AABgAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/EverymanEspresso/EverymanEspressoSoho.jpg</string>
			<key>identifier</key>
			<string>E74B733B-C03A-41A6-B72E-2926A1F0888F</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2QDAAAAAAQQMAAAAFhCiMMQxqGbyLBX2ZG+hXTQjkyc1Lyw
			xUxgP8205Jr6bAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABIAAAABAQAAQmx1ZWJpcmRDb2ZmZWVT
			aG9wAAASAAAAAQEAAEJsdWViaXJkQ29mZmVlLmpwZwAAIAAAAAEG
			AAAEAAAAFAAAACgAAAA8AAAATAAAAFwAAAB8AAAAmAAAAAgAAAAE
			AwAARWQCAAAAAAAIAAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYA
			AAAAAAgAAAAEAwAAnkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAA
			AAQDAAA1GUIAAAAAAAgAAAAEAwAAUSORAAAAAAAIAAAABAMAAPYl
			kQAAAAAAIAAAAAEGAADcAAAA7AAAAPwAAAAMAQAAHAEAACwBAAA8
			AQAATAEAAAgAAAAABAAAQbpwf+MAAAAYAAAAAQIAAAEAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMA
			APUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgA
			AAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJC
			MS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAA
			AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMA
			AAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAAC0AAAAAAAAAAUQ
			AABcAQAAAAAAABAQAACUAQAAAAAAAEAQAACEAQAAAAAAAAIgAABM
			AgAAAAAAABAgAADQAQAAAAAAABEgAAAAAgAAAAAAABIgAADgAQAA
			AAAAABMgAADwAQAAAAAAACAgAAAsAgAAAAAAADAgAABYAgAAAAAA
			AAHAAAC0AQAAAAAAABHAAAAUAAAAAAAAABLAAADEAQAAAAAAABDQ
			AABgAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/BluebirdCoffeeShop/BluebirdCoffee.jpg</string>
			<key>identifier</key>
			<string>7821AD38-2C9B-4E15-80B1-BC2825218E74</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAPVLUke9O0Py6Yh/aSsyAtuCHtvZQYlC
			aFt9o1HeKQGbYAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAwAAAABAQAAU2l0QW5kV29uZGVyEAAA
			AAEBAABTaXRBbmRXb25kZXIuanBnIAAAAAEGAAAEAAAAFAAAACgA
			AAA8AAAATAAAAFwAAAB8AAAAkAAAAAgAAAAEAwAARWQCAAAAAAAI
			AAAABAMAAL4lBgAAAAAACAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAA
			nkEKAAAAAAAIAAAABAMAAIgESQAAAAAACAAAAAQDAAA1GUIAAAAA
			AAgAAAAEAwAAELWaAAAAAAAIAAAABAMAAHm5mgAAAAAAIAAAAAEG
			AADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAAgAAAAA
			BAAAQbp7I8oAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
			AAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEA
			AEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAAAAgAAAAABAAAQbi1tLgA
			AAAkAAAAAQEAADhGOENFNzcwLTVCMEQtMzJCMS04NEJBLTU2ODYx
			MEMwQjQzNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAA
			AQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v//
			/wEAAAAAAAAADwAAAAQQAACoAAAAAAAAAAUQAABQAQAAAAAAABAQ
			AACIAQAAAAAAAEAQAAB4AQAAAAAAAAIgAABAAgAAAAAAABAgAADE
			AQAAAAAAABEgAAD0AQAAAAAAABIgAADUAQAAAAAAABMgAADkAQAA
			AAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACoAQAAAAAA
			ABHAAAAUAAAAAAAAABLAAAC4AQAAAAAAABDQAABUAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/SitAndWonder/SitAndWonder.jpg</string>
			<key>identifier</key>
			<string>6A87E0E5-8B9F-4323-9DA8-55EBFC253FBD</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9vaygDAAAAAAQQMAAAAAHR6e7wTO2Z4plXBDAUJmA6ybulBkCd
			a76A3UFgYbfdMAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAsAAAABAQAAbWFpbk1hcC5waHAAHAAA
			AAEGAAAEAAAAFAAAACgAAAA8AAAATAAAAFwAAAB8AAAACAAAAAQD
			AABFZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAA
			AAAACAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAA
			BAMAADUZQgAAAAAACAAAAAQDAADjpoUAAAAAABwAAAABBgAAtAAA
			AMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAAAgAAAAABAAAQbpWNv0A
			AAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
			AwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFj
			CAAAAAQDAAAAgFJqdAAAAAgAAAAABAAAQbi1tLgAAAAkAAAAAQEA
			ADhGOENFNzcwLTVCMEQtMzJCMS04NEJBLTU2ODYxMEMwQjQzNhgA
			AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAv
			AAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAA
			DwAAAAQQAACQAAAAAAAAAAUQAAAkAQAAAAAAABAQAABYAQAAAAAA
			AEAQAABIAQAAAAAAAAIgAAAQAgAAAAAAABAgAACUAQAAAAAAABEg
			AADEAQAAAAAAABIgAACkAQAAAAAAABMgAAC0AQAAAAAAACAgAADw
			AQAAAAAAADAgAAAcAgAAAAAAAAHAAAB4AQAAAAAAABHAAAAUAAAA
			AAAAABLAAACIAQAAAAAAABDQAAAkAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/mainMap.php</string>
			<key>identifier</key>
			<string>A1A3A943-B255-4C3B-8F26-F9A7FD022C5E</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAIT9kXhXDP0ENjl+ZVtmkBDgM7gQj600
			CCObIycFJo4XaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAA0AAAABAQAAVGhpcmRSYWlsRWFzdAAA
			ABEAAAABAQAAVGhpcmRSYWlsRWFzdC5qcGcAAAAgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAAAsNJ0AAAAAAAgAAAAEAwAAojWdAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBunudOgAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/ThirdRailEast/ThirdRailEast.jpg</string>
			<key>identifier</key>
			<string>E1667308-4C64-4A95-918E-AD1695435EAA</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2ADAAAAAAQQMAAAAKH8drlMYJ4j+XjogewhwzrLd/7jTvLD
			ytIuNcuB6c8RaAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABAAAAABAQAATW91bnRhaW5Qcm92aW5j
			ZRQAAAABAQAATW91bnRhaW5Qcm92aW5jZS5qcGcgAAAAAQYAAAQA
			AAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACUAAAACAAAAAQDAABF
			ZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAA
			CAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMA
			ADUZQgAAAAAACAAAAAQDAACOpZIAAAAAAAgAAAAEAwAAzKqSAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBunHbVAAAABgAAAABAgAAAQAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEA
			AAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACAUmp0AAAACAAAAAAE
			AABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0
			QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
			KMAAAAD+////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgB
			AAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAA
			AAAAECAAAMwBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwBAAAAAAAA
			EyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAAAcAA
			ALABAAAAAAAAEcAAABQAAAAAAAAAEsAAAMABAAAAAAAAENAAAFwC
			AAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/MountainProvince/MountainProvince.jpg</string>
			<key>identifier</key>
			<string>460A2B13-6FB8-44CE-8EFB-594A7522A3D2</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va/gCAAAAAAQQMAAAAG3R800aTOVOfB3nPOlxzPB+fmN9b3j6
			C3lLftSGvI4MAAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAwAAAABAQAAR29vZ2xlIERyaXZlBwAAAAEBAABI
			b3RNdWdnAAkAAAABAQAATWFya2V0aW5nAAAADgAAAAEBAABGaW5h
			bCBMb2dvLnBuZwAAGAAAAAEGAAAEAAAAFAAAACgAAAA8AAAATAAA
			AGAAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+JQYAAAAAAAgA
			AAAEAwAAh+AIAAAAAAAIAAAABAMAAMquNAAAAAAACAAAAAQDAAAR
			Qz8AAAAAAAgAAAAEAwAAntNvAAAAAAAYAAAAAQYAAJgAAACoAAAA
			uAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQbotRAMAAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAA
			AAAEAAAAAwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQDAAAA
			gFJqdAAAAAgAAAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENFNzcw
			LTVCMEQtMzJCMS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAAB4
			AAAAAAAAAAUQAAD4AAAAAAAAABAQAAAoAQAAAAAAAEAQAAAYAQAA
			AAAAAAIgAADgAQAAAAAAABAgAABkAQAAAAAAABEgAACUAQAAAAAA
			ABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAg
			AADsAQAAAAAAAAHAAABIAQAAAAAAABHAAAAUAAAAAAAAABLAAABY
			AQAAAAAAABDQAAD0AQAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Google Drive/HotMugg/Marketing/Final Logo.png</string>
			<key>identifier</key>
			<string>C862A4E1-06B1-42AC-9836-AC81C48B131C</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va0ADAAAAAAQQMAAAABqux1b9YALCqjcggySPspKt3978QUJc
			j9Jthvo+0Ja9SAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAZAAAAAQEAAE1hZG1hbkVz
			cHJlc3NvRWFzdFZpbGxhZ2UAAAAdAAAAAQEAAE1hZG1hbkVzcHJl
			c3NvRWFzdFZpbGxhZ2UuanBnAAAAHAAAAAEGAAAEAAAAFAAAACgA
			AAA8AAAATAAAAFwAAACAAAAACAAAAAQDAABFZAIAAAAAAAgAAAAE
			AwAAviUGAAAAAAAIAAAABAMAAL8lBgAAAAAACAAAAAQDAACeQQoA
			AAAAAAgAAAAEAwAAiARJAAAAAAAIAAAABAMAAN1SigAAAAAACAAA
			AAQDAADfUooAAAAAABwAAAABBgAAzAAAANwAAADsAAAA/AAAAAwB
			AAAcAQAALAEAAAgAAAAABAAAQbpbmj0AAAAYAAAAAQIAAAEAAAAA
			AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAA
			AwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQDAAAAgFJqdAAA
			AAgAAAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENFNzcwLTVCMEQt
			MzJCMS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAAgQAAAAEACADv
			FwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAA
			AwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACoAAAAAAAA
			AAUQAAA8AQAAAAAAABAQAABwAQAAAAAAAEAQAABgAQAAAAAAAAIg
			AAAoAgAAAAAAABAgAACsAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAAAHAAACQAQAAAAAAABHAAAAUAAAAAAAAABLAAACgAQAAAAAA
			ABDQAAA8AgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/MadmanEspressoEastVillage/MadmanEspressoEastVillage.jpg</string>
			<key>identifier</key>
			<string>F72B865C-8E5D-4D3F-84F3-C2F18F7AA69C</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va2wDAAAAAAQQMAAAAEb+Pl6Vd//1QVdVjjypWK6D7cSTMiQU
			r1wOFbmIN62MdAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABAAAAABAQAARXZlcnltYW5Fc3ByZXNz
			bx8AAAABAQAARXZlcnltYW5Fc3ByZXNzb0Vhc3RWaWxsYWdlLmpw
			ZwAgAAAAAQYAAAQAAAAUAAAAKAAAADwAAABMAAAAXAAAAHwAAACU
			AAAACAAAAAQDAABFZAIAAAAAAAgAAAAEAwAAviUGAAAAAAAIAAAA
			BAMAAL8lBgAAAAAACAAAAAQDAACeQQoAAAAAAAgAAAAEAwAAiARJ
			AAAAAAAIAAAABAMAADUZQgAAAAAACAAAAAQDAACyP4YAAAAAAAgA
			AAAEAwAAD86GAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBulj2jgAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
			AAQAAAADAwAA9QEAAAgAAAABAQAAQmxhY2tNYWMIAAAABAMAAACA
			Ump0AAAACAAAAAAEAABBuLW0uAAAACQAAAABAQAAOEY4Q0U3NzAt
			NUIwRC0zMkIxLTg0QkEtNTY4NjEwQzBCNDM2GAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
			AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAALwA
			AAAAAAAABRAAAGQBAAAAAAAAEBAAAJwBAAAAAAAAQBAAAIwBAAAA
			AAAAAiAAAFQCAAAAAAAAECAAANgBAAAAAAAAESAAAAgCAAAAAAAA
			EiAAAOgBAAAAAAAAEyAAAPgBAAAAAAAAICAAADQCAAAAAAAAMCAA
			AGACAAAAAAAAAcAAALwBAAAAAAAAEcAAABQAAAAAAAAAEsAAAMwB
			AAAAAAAAENAAAGgCAAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/EverymanEspresso/EverymanEspressoEastVillage.jpg</string>
			<key>identifier</key>
			<string>D8100D33-0942-43FA-92EC-4E10451222B4</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va/wCAAAAAAQQMAAAAGYHTV3Eg/NnVcBmFOmNpt/9R/yWqb4r
			gA5mAOBtePZrBAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAVAAAAAQEAAEhvdE11Z2cg
			TG9jYXRpb25zLmttbAAAABgAAAABBgAABAAAABQAAAAoAAAAPAAA
			AEwAAABcAAAACAAAAAQDAABFZAIAAAAAAAgAAAAEAwAAviUGAAAA
			AAAIAAAABAMAAL8lBgAAAAAACAAAAAQDAACeQQoAAAAAAAgAAAAE
			AwAAiARJAAAAAAAIAAAABAMAAHdrfwAAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG6UlOAAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01hYwgAAAAE
			AwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEBAAA4RjhD
			RTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYYAAAAAQIA
			AIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAE
			EAAAfAAAAAAAAAAFEAAA/AAAAAAAAAAQEAAALAEAAAAAAABAEAAA
			HAEAAAAAAAACIAAA5AEAAAAAAAAQIAAAaAEAAAAAAAARIAAAmAEA
			AAAAAAASIAAAeAEAAAAAAAATIAAAiAEAAAAAAAAgIAAAxAEAAAAA
			AAAwIAAA8AEAAAAAAAABwAAATAEAAAAAAAARwAAAFAAAAAAAAAAS
			wAAAXAEAAAAAAAAQ0AAA+AEAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Locations.kml</string>
			<key>identifier</key>
			<string>CC36FBB8-404F-42B2-A800-60B80EF14258</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAIrFBxUmMjdkzISSbaTZW3YKjOoPJVVK
			1QNUMMQoJrBkWAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAYAAAABAQAAQWJyYWNvAAAKAAAAAQEA
			AEFicmFjby5qcGcAACAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			AK0VlQAAAAAACAAAAAQDAAA5FpUAAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6dV+z
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/Abraco/Abraco.jpg</string>
			<key>identifier</key>
			<string>CC71EE84-D6E8-45C4-989D-09CFBDCDA412</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va3gDAAAAAAQQMAAAAC/S91BG1i+R/YTj0RZEMLcQIb4Xwbas
			WkmXxfDhILrVgAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABsAAAABAQAAVmFyaWV0eUNhZmVFYXN0
			V2lsbGlhbXNidXJnAB0AAAABAQAAVmFyaWV0eUNvZmZlZVdpbGxp
			YW1zYnVyZy5qcGcAAAAgAAAAAQYAAAQAAAAUAAAAKAAAADwAAABM
			AAAAXAAAAHwAAACgAAAACAAAAAQDAABFZAIAAAAAAAgAAAAEAwAA
			viUGAAAAAAAIAAAABAMAAL8lBgAAAAAACAAAAAQDAACeQQoAAAAA
			AAgAAAAEAwAAiARJAAAAAAAIAAAABAMAADUZQgAAAAAACAAAAAQD
			AACGRpQAAAAAAAgAAAAEAwAAO0iUAAAAAAAgAAAAAQYAAPAAAAAA
			AQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAAAAAEAABBunSo
			IwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
			AAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABAQAAQmxhY2tN
			YWMIAAAABAMAAACAUmp0AAAACAAAAAAEAABBuLW0uAAAACQAAAAB
			AQAAOEY4Q0U3NzAtNUIwRC0zMkIxLTg0QkEtNTY4NjEwQzBCNDM2
			GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
			AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAA
			AAAPAAAABBAAAMgAAAAAAAAABRAAAHABAAAAAAAAEBAAAKgBAAAA
			AAAAQBAAAJgBAAAAAAAAAiAAAGACAAAAAAAAECAAAOQBAAAAAAAA
			ESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAAICAA
			AEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAAMgBAAAAAAAAEcAAABQA
			AAAAAAAAEsAAANgBAAAAAAAAENAAAHQCAAAAAAAA
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/VarietyCafeEastWilliamsburg/VarietyCoffeeWilliamsburg.jpg</string>
			<key>identifier</key>
			<string>CAF2DE8E-6C87-4A27-BACE-8292062CB4AD</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va1ADAAAAAAQQMAAAAJgETyMU348Jh/7bcGm0PouDSoQZUPOi
			HQBO0Ue/f9RLWAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAAAcAAAABAQAAT3N0Q2FmZQALAAAAAQEA
			AE9zdENhZmUuanBnACAAAAABBgAABAAAABQAAAAoAAAAPAAAAEwA
			AABcAAAAfAAAAIwAAAAIAAAABAMAAEVkAgAAAAAACAAAAAQDAAC+
			JQYAAAAAAAgAAAAEAwAAvyUGAAAAAAAIAAAABAMAAJ5BCgAAAAAA
			CAAAAAQDAACIBEkAAAAAAAgAAAAEAwAANRlCAAAAAAAIAAAABAMA
			AOuqnQAAAAAACAAAAAQDAADHtJ0AAAAAACAAAAABBgAAyAAAANgA
			AADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAAAIAAAAAAQAAEG6fs4h
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
			BAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEBAABCbGFja01h
			YwgAAAAEAwAAAIBSanQAAAAIAAAAAAQAAEG4tbS4AAAAJAAAAAEB
			AAA4RjhDRTc3MC01QjBELTMyQjEtODRCQS01Njg2MTBDMEI0MzYY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAA
			AA8AAAAEEAAAoAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAgAEAAAAA
			AABAEAAAcAEAAAAAAAACIAAAOAIAAAAAAAAQIAAAvAEAAAAAAAAR
			IAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA3AEAAAAAAAAgIAAA
			GAIAAAAAAAAwIAAARAIAAAAAAAABwAAAoAEAAAAAAAARwAAAFAAA
			AAAAAAASwAAAsAEAAAAAAAAQ0AAATAIAAAAAAAA=
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/OstCafe/OstCafe.jpg</string>
			<key>identifier</key>
			<string>CBA0D826-43A8-4CBC-9C16-59AA99B5212A</string>
		</dict>
		<dict>
			<key>bookmarkData</key>
			<data>
			Ym9va3ADAAAAAAQQMAAAAM3jB28S/zySS0mTb0HJnQpZ1p3koNd0
			bH7hYodK1lpReAIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGhl
			bnJ5bW91bmQAAAkAAAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABH
			aXRIdWIAAAYAAAABAQAASE1TaXRlAAAWAAAAAQEAAEhvdE11Z2cg
			V2Vic2l0ZSAoSFRNTCkAABUAAAABAQAAVmFyaWV0eUNhZmVHcmVl
			bnBvaW50AAAAGwAAAAEBAABWYXJpZXR5Q29mZmVlR3JlZW5wb2lu
			dC5qcGcAIAAAAAEGAAAEAAAAFAAAACgAAAA8AAAATAAAAFwAAAB8
			AAAAnAAAAAgAAAAEAwAARWQCAAAAAAAIAAAABAMAAL4lBgAAAAAA
			CAAAAAQDAAC/JQYAAAAAAAgAAAAEAwAAnkEKAAAAAAAIAAAABAMA
			AIgESQAAAAAACAAAAAQDAAA1GUIAAAAAAAgAAAAEAwAAR0KUAAAA
			AAAIAAAABAMAAD/FlAAAAAAAIAAAAAEGAADoAAAA+AAAAAgBAAAY
			AQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQbp0mqcAAAAYAAAA
			AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAA
			AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQEAAEJsYWNrTWFjCAAAAAQD
			AAAAgFJqdAAAAAgAAAAABAAAQbi1tLgAAAAkAAAAAQEAADhGOENF
			NzcwLTVCMEQtMzJCMS04NEJBLTU2ODYxMEMwQjQzNhgAAAABAgAA
			gQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
			AAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQ
			AADAAAAAAAAAAAUQAABoAQAAAAAAABAQAACgAQAAAAAAAEAQAACQ
			AQAAAAAAAAIgAABYAgAAAAAAABAgAADcAQAAAAAAABEgAAAMAgAA
			AAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAAAAAA
			ADAgAABkAgAAAAAAAAHAAADAAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADQAQAAAAAAABDQAABsAgAAAAAAAA==
			</data>
			<key>clientIdentifier</key>
			<string>document</string>
			<key>fullPath</key>
			<string>/Users/henrymound/Documents/GitHub/HMSite/HotMugg Website (HTML)/VarietyCafeGreenpoint/VarietyCoffeeGreenpoint.jpg</string>
			<key>identifier</key>
			<string>2166EDFE-B4B6-4B06-9BF9-D52806960C06</string>
		</dict>
	</array>
</dict>
</plist>
