
#extraContainer2 {

	padding: 0;
	width: 100%;
}

#extraContainer2 img {
	margin-bottom: -6px;
	overflow: auto;
}

@media only screen and (max-width: 601px) {

#extraContainer2 {
	width: 100%;
	margin: 0;
}

}