#pageHeader h1 {
	padding-top: 1%;
	padding-bottom: 5px;
}
#pageHeader h2 {
	padding-bottom: 1.5%;
}

#pageHeader {}

#logo {
	margin-bottom: 0;
}

@media only screen and (max-width: 601px) {

#pageHeader h2 {
	padding-bottom: 4%;
}

}