#navcontainer2 ul ul a, #navcontainer2 ul ul a {	
	font-size: 14px;
	line-height: 24px;
	font-family: "Helvetica Neue", sans-serif;
}

#navcontainer2, #navcontainer2 a {
		font-size: 18px;
     line-height: 30px;
     	font-family: "Helvetica Neue", sans-serif;
}
#navcontainer2 ul a {	
      font-size: 18px;
     line-height: 30px;
	font-family: "Helvetica Neue", sans-serif;
}