<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI19hUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAuCQoR
				HSI0ODxDR0hJTVdaXV5fY2xweICDh4ySl5qeo6anq6+0
				t7i7v8fIyc3R1VUkbnVsbNILDA0OViRjbGFzc1pOUy5v
				YmplY3RzgC2iDxCAAoAY1hITCxQVFhcYGRobHFhQYWdl
				IE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRpZmll
				ciBNYXBYTm9kZSBNYXCAJoADgCyAJ4ASgBTSCwweH4AR
				oiAhgASADNkjJAslJicoKSorLC0uLzAuLi5XQ2hhbmdl
				ZFVBbGlhc1xQdWJsaXNoZWRVUkxUTmFtZVpJZGVudGlm
				aWVyVFNsdWddUHVibGlzaGVkRGF0ZVlUaW1lU3RhbXAJ
				gAWAC4AAgAqACYAAgACAANILNTY3UiQwgAiABtI5Czo7
				V05TLmRhdGFPEQHUAAAAAAHUAAIAAAhCbGFja01hYwAA
				AAAAAAAAAAAAAAAAAAAAAADPKudoSCsAAABDqPQQRG91
				YmxlRHV0Y2gxLkpQRwAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEPSdNA7
				oVEAAAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAAAAAA
				C0RvdWJsZUR1dGNoAAAQAAgAAM8rLbgAAAARAAgAANA7
				2ZEAAAABABQAQ6j0AEIZNQAGJb8ABiW+AAJkRQACAFxC
				bGFja01hYzpVc2VyczoAaGVucnltb3VuZDoARG9jdW1l
				bnRzOgBIb3RNdWdnIFdlYnNpdGUgKEhUTUwpOgBEb3Vi
				bGVEdXRjaDoARG91YmxlRHV0Y2gxLkpQRwAOACIAEABE
				AG8AdQBiAGwAZQBEAHUAdABjAGgAMQAuAEoAUABHAA8A
				EgAIAEIAbABhAGMAawBNAGEAYwASAE5Vc2Vycy9oZW5y
				eW1vdW5kL0RvY3VtZW50cy9Ib3RNdWdnIFdlYnNpdGUg
				KEhUTUwpL0RvdWJsZUR1dGNoL0RvdWJsZUR1dGNoMS5K
				UEcAEwABLwAAFQACABH//wAAgAfSPT4/QFgkY2xhc3Nl
				c1okY2xhc3NuYW1lo0BBQl1OU011dGFibGVEYXRhVk5T
				RGF0YVhOU09iamVjdNI9PkRGokVCV0JEQWxpYXNXQkRB
				bGlhc18QJEI1NzM1QzJDLTk4NTYtNERCMS1BRkM3LTQy
				NUY1NTY4NzE2Nl8QEERvdWJsZUR1dGNoMS5KUEfSPT5K
				TKJLQl5SV1NpdGVSZXNvdXJjZV5SV1NpdGVSZXNvdXJj
				ZdkjJAslJicoKSorTy0uUlMuLi4JgA2AC4AAgBCAD4AA
				gACAANILNTZZgAiADtI5C1s7TxEB0gAAAAAB0gACAAAI
				QmxhY2tNYWMAAAAAAAAAAAAAAAAAAAAAAAAAzyrnaEgr
				AAAAQ6j0D0RvdWJsZUR1dGNoLmpwZwAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAABD0oTQO6FhAAAAAAAAAAD/////AAAJIAAAAAAA
				AAAAAAAAAAAAAAtEb3VibGVEdXRjaAAAEAAIAADPKy24
				AAAAEQAIAADQO9mhAAAAAQAUAEOo9ABCGTUABiW/AAYl
				vgACZEUAAgBbQmxhY2tNYWM6VXNlcnM6AGhlbnJ5bW91
				bmQ6AERvY3VtZW50czoASG90TXVnZyBXZWJzaXRlIChI
				VE1MKToARG91YmxlRHV0Y2g6AERvdWJsZUR1dGNoLmpw
				ZwAADgAgAA8ARABvAHUAYgBsAGUARAB1AHQAYwBoAC4A
				agBwAGcADwASAAgAQgBsAGEAYwBrAE0AYQBjABIATVVz
				ZXJzL2hlbnJ5bW91bmQvRG9jdW1lbnRzL0hvdE11Z2cg
				V2Vic2l0ZSAoSFRNTCkvRG91YmxlRHV0Y2gvRG91Ymxl
				RHV0Y2guanBnAAATAAEvAAAVAAIAEf//AACAB18QJERC
				QjgyMjM4LTQ1OTUtNDk0RS04RDIwLTg1RDA5MDQ2NzQ0
				RV8QD0RvdWJsZUR1dGNoLmpwZ9I9PmBho2FiQlxOU011
				dGFibGVTZXRVTlNTZXTTDAtkZWhpV05TLmtleXOiISCA
				DIAEgBOiUzCAD4AJ0j0+bW6jbm9CXxATTlNNdXRhYmxl
				RGljdGlvbmFyeVxOU0RpY3Rpb25hcnnTDAtkcWh1onJz
				gBWAGoATolMwgA+ACdR5ensLEH0hf1ZQYXJlbnRYQ2hp
				bGRyZW5fEBJSZXByZXNlbnRlZCBPYmplY3SAGIAWgAyA
				HNILDIGCgBeg0j0+hIWjhYZCXk5TTXV0YWJsZUFycmF5
				V05TQXJyYXnUeXp7Cy6JLn+AAIAZgACAHNILDIGOgBej
				cnORgBWAGoAd1Hl6ewsQlCB/gBiAG4AEgBzSCwyBmYAX
				oNI9PpudopxCXxAQUldTb3VyY2VMaXN0Tm9kZV8QEFJX
				U291cmNlTGlzdE5vZGXUeXp7CxCgoX+AGIAhgB6AHNIL
				JqSlgCCAH1lMb2NhdGlvbnPSPT6oqqKpQlxSV1NpdGVG
				b2xkZXJcUldTaXRlRm9sZGVy0gsMga2AF6GugCLUeXp7
				C5Gxsn+AHYAlgCOAHNILJqS2gCCAJFxEb3VibGUgRHV0
				Y2jSCwyBuoAXoNMMC2S8aL6ggBOg0wwLZMBoxKLBwoAq
				gCuAE6LFxoAogClfEE8vVXNlcnMvaGVucnltb3VuZC9E
				b2N1bWVudHMvSG90TXVnZyBXZWJzaXRlIChIVE1MKS9E
				b3VibGVEdXRjaC9Eb3VibGVEdXRjaDEuSlBHXxBOL1Vz
				ZXJzL2hlbnJ5bW91bmQvRG9jdW1lbnRzL0hvdE11Z2cg
				V2Vic2l0ZSAoSFRNTCkvRG91YmxlRHV0Y2gvRG91Ymxl
				RHV0Y2guanBn0gsMHsuAEaEggATSCwwez4ARoSGADNI9
				PtLUotNCXxASUldSZXNvdXJjZURhdGFiYXNlXxASUldS
				ZXNvdXJjZURhdGFiYXNl0j0+1oaihkISAAGGoF8QD05T
				S2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABt
				AHMAeAB/AIoAjACPAJEAkwCgAKkAswC8AMsA1ADWANgA
				2gDcAN4A4ADlAOcA6gDsAO4BAQEJAQ8BHAEhASwBMQE/
				AUkBSgFMAU4BUAFSAVQBVgFYAVoBXwFiAWQBZgFrAXMD
				SwNNA1IDWwNmA2oDeAN/A4gDjQOQA5gDoAPHA9oD3wPi
				A/EEAAQTBBQEFgQYBBoEHAQeBCAEIgQkBCkEKwQtBDIG
				CAYKBjEGQwZIBkwGWQZfBmYGbgZxBnMGdQZ3BnoGfAZ+
				BoMGhwadBqoGsQa0BrYGuAa6Br0GvwbBBsoG0QbaBu8G
				8QbzBvUG9wb8Bv4G/wcEBwgHFwcfBygHKgcsBy4HMAc1
				BzcHOwc9Bz8HQQdKB0wHTgdQB1IHVwdZB1oHXwdiB3UH
				iAeRB5MHlQeXB5kHngegB6IHrAexB7QHwQfOB9MH1QfX
				B9kH4gfkB+YH6AfqB+8H8QfzCAAIBQgHCAgIDwgQCBII
				EwgaCB0IHwghCCMIJggoCCoIfAjNCNII1AjWCNgI3Qjf
				COEI4wjoCOsJAAkVCRoJHQkiAAAAAAAAAgEAAAAAAAAA
				2QAAAAAAAAAAAAAAAAAACTQ=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.HotMugg.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Us</string>
					<key>CopyrightText</key>
					<string>© 2014 HotMugg</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/henrymound/Documents/HotMugg Website (HTML)</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>contact@hotmugg.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Find Nearby Independent Coffee Shops</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Multi FlexBand</string>
					<key>TitleText</key>
					<string>HotMugg</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>14E41B04-FA35-442D-9A21-8EC2BE91AF45</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
