<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI19hUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAuCQoR
				HSI0ODxDR0hJTVdaXV5fY2xweICDh4ySl5qeo6anq6+0
				t7i7v8fIyc3R1VUkbnVsbNILDA0OViRjbGFzc1pOUy5v
				YmplY3RzgC2iDxCAAoAY1hITCxQVFhcYGRobHFhQYWdl
				IE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRpZmll
				ciBNYXBYTm9kZSBNYXCAJoADgCyAJ4ASgBTSCwweH4AR
				oiAhgASADNkjJAslJicoKSorLC0uLzAuLi5XQ2hhbmdl
				ZFVBbGlhc1xQdWJsaXNoZWRVUkxUTmFtZVpJZGVudGlm
				aWVyVFNsdWddUHVibGlzaGVkRGF0ZVlUaW1lU3RhbXAJ
				gAWAC4AAgAqACYAAgACAANILNTY3UiQwgAiABtI5Czo7
				V05TLmRhdGFPEQH4AAAAAAH4AAIAAAhCbGFja01hYwAA
				AAAAAAAAAAAAAAAAAAAAAADPKudoSCsAAABDqPQPRG91
				YmxlRHV0Y2guanBnAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEPShNA7
				oWEAAAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAAAAAA
				C0RvdWJsZUR1dGNoAAAQAAgAAM8rLbgAAAARAAgAANA7
				2aEAAAABABwAQ6j0AEIZNQBJBIgACkGeAAYlvwAGJb4A
				AmRFAAIAa0JsYWNrTWFjOlVzZXJzOgBoZW5yeW1vdW5k
				OgBEb2N1bWVudHM6AEdpdEh1YjoASE1TaXRlOgBIb3RN
				dWdnIFdlYnNpdGUgKEhUTUwpOgBEb3VibGVEdXRjaDoA
				RG91YmxlRHV0Y2guanBnAAAOACAADwBEAG8AdQBiAGwA
				ZQBEAHUAdABjAGgALgBqAHAAZwAPABIACABCAGwAYQBj
				AGsATQBhAGMAEgBbVXNlcnMvaGVucnltb3VuZC9Eb2N1
				bWVudHMvR2l0SHViL0hNU2l0ZS9Ib3RNdWdnIFdlYnNp
				dGUgKEhUTUwpL0RvdWJsZUR1dGNoL0RvdWJsZUR1dGNo
				LmpwZwAAEwABLwAAFQACABH//wAAgAfSPT4/QFgkY2xh
				c3Nlc1okY2xhc3NuYW1lo0BBQl1OU011dGFibGVEYXRh
				Vk5TRGF0YVhOU09iamVjdNI9PkRGokVCV0JEQWxpYXNX
				QkRBbGlhc18QJERCQjgyMjM4LTQ1OTUtNDk0RS04RDIw
				LTg1RDA5MDQ2NzQ0RV8QD0RvdWJsZUR1dGNoLmpwZ9I9
				PkpMoktCXlJXU2l0ZVJlc291cmNlXlJXU2l0ZVJlc291
				cmNl2SMkCyUmJygpKitPLS5SUy4uLgmADYALgACAEIAP
				gACAAIAA0gs1NlmACIAO0jkLWztPEQH6AAAAAAH6AAIA
				AAhCbGFja01hYwAAAAAAAAAAAAAAAAAAAAAAAADPKudo
				SCsAAABDqPQQRG91YmxlRHV0Y2gxLkpQRwAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAEPSdNA7oVEAAAAAAAAAAP////8AAAkgAAAA
				AAAAAAAAAAAAAAAAC0RvdWJsZUR1dGNoAAAQAAgAAM8r
				LbgAAAARAAgAANA72ZEAAAABABwAQ6j0AEIZNQBJBIgA
				CkGeAAYlvwAGJb4AAmRFAAIAbEJsYWNrTWFjOlVzZXJz
				OgBoZW5yeW1vdW5kOgBEb2N1bWVudHM6AEdpdEh1YjoA
				SE1TaXRlOgBIb3RNdWdnIFdlYnNpdGUgKEhUTUwpOgBE
				b3VibGVEdXRjaDoARG91YmxlRHV0Y2gxLkpQRwAOACIA
				EABEAG8AdQBiAGwAZQBEAHUAdABjAGgAMQAuAEoAUABH
				AA8AEgAIAEIAbABhAGMAawBNAGEAYwASAFxVc2Vycy9o
				ZW5yeW1vdW5kL0RvY3VtZW50cy9HaXRIdWIvSE1TaXRl
				L0hvdE11Z2cgV2Vic2l0ZSAoSFRNTCkvRG91YmxlRHV0
				Y2gvRG91YmxlRHV0Y2gxLkpQRwATAAEvAAAVAAIAEf//
				AACAB18QJEI1NzM1QzJDLTk4NTYtNERCMS1BRkM3LTQy
				NUY1NTY4NzE2Nl8QEERvdWJsZUR1dGNoMS5KUEfSPT5g
				YaNhYkJcTlNNdXRhYmxlU2V0VU5TU2V00wwLZGVoaVdO
				Uy5rZXlzoiAhgASADIATojBTgAmAD9I9Pm1uo25vQl8Q
				E05TTXV0YWJsZURpY3Rpb25hcnlcTlNEaWN0aW9uYXJ5
				0wwLZHFodaJyc4AVgBqAE6IwU4AJgA/UeXp7CxB9IH9W
				UGFyZW50WENoaWxkcmVuXxASUmVwcmVzZW50ZWQgT2Jq
				ZWN0gBiAFoAEgBzSCwyBgoAXoNI9PoSFo4WGQl5OU011
				dGFibGVBcnJheVdOU0FycmF51Hl6ewsuiS5/gACAGYAA
				gBzSCwyBjoAXo3JzkYAVgBqAHdR5ensLEJQhf4AYgBuA
				DIAc0gsMgZmAF6DSPT6bnaKcQl8QEFJXU291cmNlTGlz
				dE5vZGVfEBBSV1NvdXJjZUxpc3ROb2Rl1Hl6ewsQoKF/
				gBiAIYAegBzSCyakpYAggB9ZTG9jYXRpb25z0j0+qKqi
				qUJcUldTaXRlRm9sZGVyXFJXU2l0ZUZvbGRlctILDIGt
				gBehroAi1Hl6ewuRsbJ/gB2AJYAjgBzSCyaktoAggCRc
				RG91YmxlIER1dGNo0gsMgbqAF6DTDAtkvGi+oIAToNMM
				C2TAaMSiwcKAKoArgBOixcaAKIApXxBPL1VzZXJzL2hl
				bnJ5bW91bmQvRG9jdW1lbnRzL0hvdE11Z2cgV2Vic2l0
				ZSAoSFRNTCkvRG91YmxlRHV0Y2gvRG91YmxlRHV0Y2gx
				LkpQR18QTi9Vc2Vycy9oZW5yeW1vdW5kL0RvY3VtZW50
				cy9Ib3RNdWdnIFdlYnNpdGUgKEhUTUwpL0RvdWJsZUR1
				dGNoL0RvdWJsZUR1dGNoLmpwZ9ILDB7LgBGhIYAM0gsM
				Hs+AEaEggATSPT7S1KLTQl8QElJXUmVzb3VyY2VEYXRh
				YmFzZV8QElJXUmVzb3VyY2VEYXRhYmFzZdI9PtaGooZC
				EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAARABYAHwAo
				ADIANQA6ADwAbQBzAHgAfwCKAIwAjwCRAJMAoACpALMA
				vADLANQA1gDYANoA3ADeAOAA5QDnAOoA7ADuAQEBCQEP
				ARwBIQEsATEBPwFJAUoBTAFOAVABUgFUAVYBWAFaAV8B
				YgFkAWYBawFzA28DcQN2A38DigOOA5wDowOsA7EDtAO8
				A8QD6wP9BAIEBQQUBCMENgQ3BDkEOwQ9BD8EQQRDBEUE
				RwRMBE4EUARVBlMGVQZ8Bo8GlAaYBqUGqwayBroGvQa/
				BsEGwwbGBsgGygbPBtMG6Qb2Bv0HAAcCBwQHBgcJBwsH
				DQcWBx0HJgc7Bz0HPwdBB0MHSAdKB0sHUAdUB2MHawd0
				B3YHeAd6B3wHgQeDB4cHiQeLB40HlgeYB5oHnAeeB6MH
				pQemB6sHrgfBB9QH3QffB+EH4wflB+oH7AfuB/gH/QgA
				CA0IGggfCCEIIwglCC4IMAgyCDQINgg7CD0IPwhMCFEI
				UwhUCFsIXAheCF8IZghpCGsIbQhvCHIIdAh2CMgJGQke
				CSAJIgkkCSkJKwktCS8JNAk3CUwJYQlmCWkJbgAAAAAA
				AAIBAAAAAAAAANkAAAAAAAAAAAAAAAAAAAmA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.HotMugg.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Us</string>
					<key>CopyrightText</key>
					<string>© 2014 HotMugg</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/henrymound/Documents/HotMugg Website (HTML)</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>contact@hotmugg.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Find Nearby Independent Coffee Shops</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Multi FlexBand</string>
					<key>TitleText</key>
					<string>HotMugg</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>14E41B04-FA35-442D-9A21-8EC2BE91AF45</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
