<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI4eJUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAxCQoR
				HSI0ODxDR0hJTVBUXmFkZWZpbXZ6goqNkZacoaSorbCx
				tbm+wcLFydHS09fb31UkbnVsbNILDA0OViRjbGFzc1pO
				Uy5vYmplY3RzgDCiDxCAAoAb1hITCxQVFhcYGRobHFhQ
				YWdlIE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRp
				ZmllciBNYXBYTm9kZSBNYXCAKYADgC+AKoAVgBfSCwwe
				H4AUoiAhgASADtkjJAslJicoKSorLC0uLzAuLjNXQ2hh
				bmdlZFVBbGlhc1xQdWJsaXNoZWRVUkxUTmFtZVpJZGVu
				dGlmaWVyVFNsdWddUHVibGlzaGVkRGF0ZVlUaW1lU3Rh
				bXAIgAWADYAAgAqACYAAgACAC9ILNTY3UiQwgAiABtI5
				Czo7V05TLmRhdGFPEQH6AAAAAAH6AAIAAAhCbGFja01h
				YwAAAAAAAAAAAAAAAAAAAAAAAADPKudoSCsAAABDqPQQ
				RG91YmxlRHV0Y2gxLkpQRwAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEPS
				dNA7oVEAAAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAA
				AAAAC0RvdWJsZUR1dGNoAAAQAAgAAM8rLbgAAAARAAgA
				ANA72ZEAAAABABwAQ6j0AEIZNQBJBIgACkGeAAYlvwAG
				Jb4AAmRFAAIAbEJsYWNrTWFjOlVzZXJzOgBoZW5yeW1v
				dW5kOgBEb2N1bWVudHM6AEdpdEh1YjoASE1TaXRlOgBI
				b3RNdWdnIFdlYnNpdGUgKEhUTUwpOgBEb3VibGVEdXRj
				aDoARG91YmxlRHV0Y2gxLkpQRwAOACIAEABEAG8AdQBi
				AGwAZQBEAHUAdABjAGgAMQAuAEoAUABHAA8AEgAIAEIA
				bABhAGMAawBNAGEAYwASAFxVc2Vycy9oZW5yeW1vdW5k
				L0RvY3VtZW50cy9HaXRIdWIvSE1TaXRlL0hvdE11Z2cg
				V2Vic2l0ZSAoSFRNTCkvRG91YmxlRHV0Y2gvRG91Ymxl
				RHV0Y2gxLkpQRwATAAEvAAAVAAIAEf//AACAB9I9Pj9A
				WCRjbGFzc2VzWiRjbGFzc25hbWWjQEFCXU5TTXV0YWJs
				ZURhdGFWTlNEYXRhWE5TT2JqZWN00j0+REaiRUJXQkRB
				bGlhc1dCREFsaWFzXxAkQjU3MzVDMkMtOTg1Ni00REIx
				LUFGQzctNDI1RjU1Njg3MTY2XxAQRG91YmxlRHV0Y2gx
				LkpQR9ILSktMV05TLnRpbWWADCNBueOQ+bXt4dI9Pk5P
				ok9CVk5TRGF0ZdI9PlFTolJCXlJXU2l0ZVJlc291cmNl
				XlJXU2l0ZVJlc291cmNl2SMkCyUmJygpKitWLS5ZWi4u
				XQiAD4ANgACAEoARgACAAIAT0gs1NmCACIAQ0jkLYjtP
				EQH4AAAAAAH4AAIAAAhCbGFja01hYwAAAAAAAAAAAAAA
				AAAAAAAAAADPKudoSCsAAABDqPQPRG91YmxlRHV0Y2gu
				anBnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAEPShNA7oWEAAAAAAAAA
				AP////8AAAkgAAAAAAAAAAAAAAAAAAAAC0RvdWJsZUR1
				dGNoAAAQAAgAAM8rLbgAAAARAAgAANA72aEAAAABABwA
				Q6j0AEIZNQBJBIgACkGeAAYlvwAGJb4AAmRFAAIAa0Js
				YWNrTWFjOlVzZXJzOgBoZW5yeW1vdW5kOgBEb2N1bWVu
				dHM6AEdpdEh1YjoASE1TaXRlOgBIb3RNdWdnIFdlYnNp
				dGUgKEhUTUwpOgBEb3VibGVEdXRjaDoARG91YmxlRHV0
				Y2guanBnAAAOACAADwBEAG8AdQBiAGwAZQBEAHUAdABj
				AGgALgBqAHAAZwAPABIACABCAGwAYQBjAGsATQBhAGMA
				EgBbVXNlcnMvaGVucnltb3VuZC9Eb2N1bWVudHMvR2l0
				SHViL0hNU2l0ZS9Ib3RNdWdnIFdlYnNpdGUgKEhUTUwp
				L0RvdWJsZUR1dGNoL0RvdWJsZUR1dGNoLmpwZwAAEwAB
				LwAAFQACABH//wAAgAdfECREQkI4MjIzOC00NTk1LTQ5
				NEUtOEQyMC04NUQwOTA0Njc0NEVfEA9Eb3VibGVEdXRj
				aC5qcGfSC0pLaIAMI0G545D5tWc00j0+amuja2xCXE5T
				TXV0YWJsZVNldFVOU1NldNMMC25vcnNXTlMua2V5c6Ih
				IIAOgASAFqJaMIARgAnSPT53eKN4eUJfEBNOU011dGFi
				bGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMMC257cn+i
				fH2AGIAdgBaiWjCAEYAJ1IOEhQsQhyGJVlBhcmVudFhD
				aGlsZHJlbl8QElJlcHJlc2VudGVkIE9iamVjdIAbgBmA
				DoAf0gsMi4yAGqDSPT6Oj6OPkEJeTlNNdXRhYmxlQXJy
				YXlXTlNBcnJhedSDhIULLpMuiYAAgByAAIAf0gsMi5iA
				GqN8fZuAGIAdgCDUg4SFCxCeIImAG4AegASAH9ILDIuj
				gBqg0j0+paeipkJfEBBSV1NvdXJjZUxpc3ROb2RlXxAQ
				UldTb3VyY2VMaXN0Tm9kZdSDhIULEKqriYAbgCSAIYAf
				0gsmrq+AI4AiWUxvY2F0aW9uc9I9PrK0orNCXFJXU2l0
				ZUZvbGRlclxSV1NpdGVGb2xkZXLSCwyLt4AaobiAJdSD
				hIULm7u8iYAggCiAJoAf0gsmrsCAI4AnXERvdWJsZSBE
				dXRjaNILDIvEgBqg0wwLbsZyyKCAFqDTDAtuynLOosvM
				gC2ALoAWos/QgCuALF8QTy9Vc2Vycy9oZW5yeW1vdW5k
				L0RvY3VtZW50cy9Ib3RNdWdnIFdlYnNpdGUgKEhUTUwp
				L0RvdWJsZUR1dGNoL0RvdWJsZUR1dGNoMS5KUEdfEE4v
				VXNlcnMvaGVucnltb3VuZC9Eb2N1bWVudHMvSG90TXVn
				ZyBXZWJzaXRlIChIVE1MKS9Eb3VibGVEdXRjaC9Eb3Vi
				bGVEdXRjaC5qcGfSCwwe1YAUoSCABNILDB7ZgBShIYAO
				0j0+3N6i3UJfEBJSV1Jlc291cmNlRGF0YWJhc2VfEBJS
				V1Jlc291cmNlRGF0YWJhc2XSPT7gkKKQQhIAAYagXxAP
				TlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8
				AHAAdgB7AIIAjQCPAJIAlACWAKMArAC2AL8AzgDXANkA
				2wDdAN8A4QDjAOgA6gDtAO8A8QEEAQwBEgEfASQBLwE0
				AUIBTAFNAU8BUQFTAVUBVwFZAVsBXQFiAWUBZwFpAW4B
				dgN0A3YDewOEA48DkwOhA6gDsQO2A7kDwQPJA/AEAwQI
				BBAEEgQbBCAEIwQqBC8EMgRBBFAEYwRkBGYEaARqBGwE
				bgRwBHIEdAR5BHsEfQSCBn4GgAanBrkGvgbABskGzgbS
				Bt8G5QbsBvQG9wb5BvsG/QcABwIHBAcJBw0HIwcwBzcH
				Ogc8Bz4HQAdDB0UHRwdQB1cHYAd1B3cHeQd7B30HggeE
				B4UHigeOB50HpQeuB7AHsge0B7YHuwe9B8EHwwfFB8cH
				0AfSB9QH1gfYB90H3wfgB+UH6Af7CA4IFwgZCBsIHQgf
				CCQIJggoCDIINwg6CEcIVAhZCFsIXQhfCGgIaghsCG4I
				cAh1CHcIeQiGCIsIjQiOCJUIlgiYCJkIoAijCKUIpwip
				CKwIrgiwCQIJUwlYCVoJXAleCWMJZQlnCWkJbglxCYYJ
				mwmgCaMJqAAAAAAAAAIBAAAAAAAAAOMAAAAAAAAAAAAA
				AAAAAAm6
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.HotMugg.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Us</string>
					<key>CopyrightText</key>
					<string>© 2014 HotMugg</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/henrymound/Documents/HotMugg Test Site</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>contact@hotmugg.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Find Nearby Independent Coffee Shops</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Multi FlexBand</string>
					<key>TitleText</key>
					<string>HotMugg</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>14E41B04-FA35-442D-9A21-8EC2BE91AF45</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
